<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lavori</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let lavori of lavories">
    <ion-card-header>
      <ion-card-subtitle>{{lavori.id}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          <p>Camera: {{lavori.Camera}}</p>
          <p>Classe: {{lavori.Classe}}</p>
          <p>Azienda: {{lavori.Azienda}}</p>
          <p>Note: {{lavori.Note}}</p>
          <p>Produzione: {{lavori.Produzione}}</p>
          <p>Regista: {{lavori.Regista}}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="aggiungiLavori()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
